body {
    max-width: 80vw;
    margin: 0 auto;
    background: #192231
}

video, canvas {
    max-height: 60vh;
    max-width: 80vw;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height:auto;
    padding:10px;
}

.hide {
    display: none;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
   
#takePic {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    max-width: 80vw;
    height: auto;
    margin: 10px auto;
}